.home-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2rem;

    .text-zone {
        color: white;
        font-family: "Coolvetica";

        h1 {
            color: #fff;
            font-family: 'Coolvetica';
            font-weight: 400;
            font-size: 4rem;


            &:before {
                content: '<h1>';
                font-family: 'La Belle Aurore', cursive;
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: -50px;
                margin-left: -15px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }

            &:after {
                content: '</h1>';
                font-family: 'La Belle Aurore', cursive;
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: 18px;
                margin-left: 20px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }

            .letter-logo-r {
                text-shadow: #ffd700 -4px 2px;
                color: #9d0208;
                padding-left: 2rem;
            }
        }

        h2 {
            color: #8d8d8d;
            text-align: center;
            font-weight: 400;
            font-size: 2rem;
            font-family: sans-serif;
            letter-spacing: 3px;
            animation: fadeIn 1s 1.8s backwards;

            &:before {
                content: '<p>';
                font-family: 'La Belle Aurore', cursive;
                color: #ffd700;
                font-size: 18px;
                position: relative;
                padding-right: 2rem;
                opacity: 0.6;
            }

            &:after {
                content: '</p>';
                font-family: 'La Belle Aurore', cursive;
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: 10px;
                margin-left: 20px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }
        }

        .flat-button {
            color: #ffd700;
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: .5rem;
            font-family: sans-serif;
            padding: 1rem 5rem;
            border: 1px solid #ffd700;
            margin-top: 5rem;
            animation: fadeInAnimation 1s 1.8s backwards;
            white-space: nowrap;

            &:hover {
                background: #ffd700;
                color: #333;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 992px) {
            h1 {
                font-size: 5rem;
            }
        }

        @media only screen and (min-width: 993px) {
            h1 {
                font-size: 8rem;
                line-height: 8rem;
            }

            h2 {
                margin-top: 2rem;
            }
        }
    }
}