.container .skills-page {
    display: flex;
    flex-direction: column;
}

.text-zone .skills-text {
    font-family: 'Coolvetica';
    font-size: 3rem;
    padding-bottom: 4rem;
    position: relative;

    &::before {
        content: '<h1>';
        position: absolute;
        color: #ffd700;
        opacity: 0.6;
        font-family: 'La Belle Aurore';
        top: 5rem;
    }

    &::after {
        content: '</h1>';
        position: absolute;
        color: #ffd700;
        opacity: 0.6;
        top: 7rem;
        font-family: 'La Belle Aurore';
    }
}

.text-zone p {
    color: white;
    font-family: 'Coolvetica';
    font-size: 1.7rem;
    position: relative;
    padding: 2rem 2rem 4rem 0;

    &::before {
        content: '<p>';
        position: absolute;
        color: #ffd700;
        opacity: 0.6;
        font-family: 'La Belle Aurore';
        top: -1rem;
    }

    &::after {
        content: '</p>';
        position: absolute;
        color: #ffd700;
        opacity: 0.6;
        font-family: 'La Belle Aurore';
        bottom: 2rem;
    }
}

.technology-container {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    padding-bottom: 4rem;
}

.work-row {
    width: 80%;
}

.work-box {
    box-shadow: 5px 5px 5px gray;
    margin: 2rem 0;
    padding: 2rem 1rem;
}